body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #f4f4f4;
}

/* Create a pseudo-element for the background and blur */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/static/background-colors.jpg') no-repeat center center;
    background-size: cover;
    filter: blur(8px);
    z-index: -1;
}

.content {
    position: relative;
    font-weight: 600;
    z-index: 2;
    text-align: center;
    color: #1a1a1a;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}

h1, h2 {
    font-size: 4rem;
    color: #333;
    margin-bottom: 0.5em;
    font-weight: 700;
}

.lead {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.btn-primary {
    background-color: #1E90FF;
    color: #FFFFFF;
    border: none;
    padding: 1rem 2.5rem;
    border-radius: 30px;
    font-size: 1.2rem;
    font-weight: 700;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.1s;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #f50057;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    .lead {
        font-size: 1.25rem;
    }
}